body {
    padding-top: 80px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.categorySelectPanel li {
    display: inline-block;
    padding: 10px;
}

.categorySelectPanel select {
    width: 300px;
}

.categorySelectPanel ul {
    margin: 0;
    padding: 0;
}

.category-select {
    position: absolute;
    max-width: 600px;
    z-index: 1000;
}

.playQueue button {
    margin: 10px;
}